{
  "projects": {
    "default": "your-firebase-dev-project-id",
    "dev": "your-firebase-dev-project-id",
    "staging": "your-firebase-staging-project-id",
    "prod": "your-firebase-prod-project-id"
  }
}
